.news_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 100px;
    font-family: "Roboto";
    font-weight: 700;
}

.news_block_text{
    width: 500px;
}

.news_list{
    font-size: 16px;
    color: gray;
}

.news_list::before{
    margin-right: 12px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
}

.news_title{
    margin-top: 20px;
    font-size: 39px;
}

.news_text{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
}

.news_image{
    width: 40%;
}